---
layout: compress
# Default layout
---

<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% capture prefer_mode %}
  {% if site.theme_mode %}
    data-mode="{{ site.theme_mode }}"
  {% endif %}
{% endcapture %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
    {% include sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div id="main" class="container px-xxl-5">
        {% include topbar.html lang=lang %}
        {{ content }}
        {% include_cached search-results.html lang=lang %}
      </div>
    </div>

    {% include_cached footer.html lang=lang %}

    <div id="mask"></div>

    <button id="back-to-top" aria-label="back-to-top" class="btn btn-lg btn-box-shadow">
      <i class="fas fa-angle-up"></i>
    </button>

    {% if site.pwa.enabled %}
      <div
        id="notification"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-bs-animation="true"
        data-bs-autohide="false"
      >
        <div class="toast-header">
          <button
            type="button"
            class="btn-close ms-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body text-center pt-0">
          <p class="px-2 mb-3">{{ site.data.locales[lang].notification.update_found }}</p>
          <button type="button" class="btn btn-primary" aria-label="Update">
            {{ site.data.locales[lang].notification.update }}
          </button>
        </div>
      </div>
    {% endif %}

    {% include js-selector.html %}

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    {% include_cached search-loader.html %}
    <!-- email subscription -->
    <div class="card post-preview flex-md-row-reverse">
      <div class="card-body d-flex flex-column">
        <h1 class="card-title my-2 mt-md-0">
          Subscribre to my newsletter
        </h1>
        <p>
          Read articles about web development, programming, and more directly in your inbox.
          Subscribe to my newsletter to get the latest updates and don't miss any new content.
        </p>
        <div class="card-text post-content mt-0 mb-2">
          <form data-v-1bbcb9ec="" action="https://api.follow.it/subscription-form/UlhnSnJHOUFqN3pENXg5VlFYMU8rZzdYWCttamRpQ20yK1R3ejBPaFp1UXRiUi85b2pBMDRFTWUwaXdTMXhGd0E3dUtZYzNTSmxUM1pwR3NsUXcrUmROWkhvcVBxWjJnSjBicitVdnhkY2Q5UStxNjRtQlRpQjJabnhXMW9Ubkl8WmZzK0JyUElpR2VQVVl2aUE3S2FaQ3ZFYzhjRkk4SWlmZ1hORGpmWUo4MD0=/8" method="post">
            <div data-v-1bbcb9ec="">
              <div data-v-1bbcb9ec="">
                <input data-v-1bbcb9ec="" type="email" name="email" required="required" placeholder="Enter your email address" spellcheck="false" />
                <button data-v-1bbcb9ec="" type="submit">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- email subscription -->
  </body>
</html>
